.clear:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clear { zoom: 1; }
div#p-options {
	width: 760px;
	padding-bottom: 40px;
}

div#vop-header p {
	padding: 15px;
	background: #dcf3db;
	font-size: 1.1em;
	border: 1px solid #c9e6C8;
	border-radius: 6px;
}

div#vop-header p strong { color: #20441e;}

div.p-option h3 {
	margin: 15px 0 0 0;
	padding: 15px 15px 15px 40px;
	font-size: 1.2em;
	color: #4e4c41;
	background: #f1f1f1 url(../images/toggle.gif) no-repeat 10px 13px;
	border: 1px solid #e6e6e6;
	border-radius: 6px;
	cursor: pointer;
}

div.p-option h3.open {
	border-radius: 6px 6px 0 0;
	background-position: 10px -27px;
}

div.p-option span {
	font-size: .9em;
	font-weight: normal;
	float: right;
	color: #aaa;
}

div.p-option-body {
	margin: 0;
	padding: 15px;
	background: #fbfbfa;
	border: 1px solid #e6e6e6;
	border-top: none;
	border-radius: 0 0 6px 6px;
}

div.p-option-body p.notice {
	padding: 15px;
	line-height: 1.5em;
	background: #fffbcc;
	border: 1px solid #f8f4c7;
	font-size: 1.1em;
	border-radius: 6px;
}

div.p-field {
	margin: 30px 0;
}

div.p-field-d {
	float: right;
	width: 380px;
	padding: 15px;
	background: #f6f6f6;
	color: #777;
	border-radius: 8px;
}

div.p-field-d a {
	margin-top: 10px;
	display: block;
}

div.p-field.text label, div.p-field.select label, div.p-field.textarea label, div.p-field.colorpicker label {
	display: block;
	padding-bottom: 5px;
}

div.p-field.colorpicker label a {
	font-size: .8em;
	text-decoration: none;
	border-bottom: 1px dotted;
}

div.p-field.text input {
	width: 250px;
	padding: 5px;
}

div.p-field.textarea textarea {
	width: 250px;
	padding: 5px;
	height: 100px;
}

div.p-option div.submit { padding: 0; }
div#vop-body div.p-reset-button { float: right; }
div#vop-body div.p-saveall-button { float: left; }
div#vop-body div.submit input { font-size: 1.1em !important; }
div#vop-body div.submit input.p-reset { font-size: .9em !important; }
div.farbtastic { margin: 10px 0; }
.updated, .error { margin: 5px 15px 2px 0; }
